@using AspNetCoreExample.Controllers
@model AspNetCoreExample.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<h1>Welcome!</h1>
@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_RestaurantInfo", restaurant);
}

<div>
    <a class="btn btn-primary" asp-controller="Home" asp-action="@nameof(HomeController.Create)">Create New Restaurant</a>
</div>

@section footer {
    <h3>@Model.CurrentMessage</h3>
}